---
import MainLayout from "@layouts/main.astro";
import PageTitle from "@lib/PageTitle.svelte";
---

<MainLayout title="404 : Not Found" desc="Oh no. This page cannot be found, this is a 404 error.">
  <div class="container mt-32 flex justify-between items-center mx-auto px-8 md:px-14 lg:px-24 w-full">
    <section class="w-full">
      <div>
        <PageTitle
          title="404: Page Not Found"
          intro="We can't find this page. Please return to the homepage & try again"
        />
        <img src="/img/400.webp" alt="404 Page Not Found" />
      </div>
    </section>
  </div>
</MainLayout>
