---
import MainLayout from "@layouts/main.astro";
import ContactIcons from "@lib/ContactIcons.svelte";
---

<MainLayout title="Contact" desc="The contact page for ytsruh.com. Contact using email & social media.">
  <div class="container mt-20 lg:mt-36 mx-auto px-8 md:px-14 lg:px-24">
    <section class="w-full">
      <h2 id="contact" class="secondary-title">Contact me</h2>
      <p class="section-paragraph">Feel free to to contact me through any of the below methods.</p>
      <ContactIcons />
    </section>
  </div>
</MainLayout>
