---
import MainLayout from "@layouts/main.astro";
import FaCheck from "svelte-icons/fa/FaCheck.svelte";
import FaTag from "svelte-icons/fa/FaTag.svelte";
import FaTasks from "svelte-icons/fa/FaTasks.svelte";
import FaTools from "svelte-icons/fa/FaTools.svelte";
import DiGo from "svelte-icons/di/DiGo.svelte";
import PageTitle from "@lib/PageTitle.svelte";
const introText = "A now page. An overview of whats going on right now and what the plans are for the year.";
---

<MainLayout title="Now" desc={introText}>
  <div class="container flex mt-20 lg:mt-36 mx-auto px-8 md:px-14 lg:px-24 w-full">
    <section class="w-full">
      <PageTitle title="Now" intro={introText} />
      <ul class="space-y-4 py-5">
        <li class="flex items-center">
          <div class="icon mr-5"><FaTag /></div>
          <p>Working at <a href="http://www.lseg.com" target="_blank">LSEG</a> in the digital team</p>
        </li>
        <li class="flex items-center">
          <div class="icon mr-5"><FaTag /></div>
          <p>Improving my TypeScript & Go skills</p>
        </li>
        <li class="flex items-center">
          <div class="icon mr-5"><FaTag /></div>
          <p>Rennovating property</p>
        </li>
        <li class="flex items-center">
          <div class="icon mr-5"><FaTag /></div>
          <p>Improving my fitness</p>
        </li>
      </ul>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-5 py-5 md:py-10">
        <div>
          <h2 class="secondary-title">TypeScript</h2>
          <p class="py-2">
            Currently I'm upgrading my projects to TypeScript. JavaScript was a great starting point but the
            advanced parts of TypeScript have really helped reduce bugs and make web applications easier to
            build.
          </p>
        </div>
        <div>
          <h2 class="secondary-title">Go</h2>
          <p class="py-2">
            My main goal in 2023 is learning Go. I've been keen to learn a faster language than JavaScript in
            order to deal with data more effeciently and Go provides speed & simplicty.
          </p>
        </div>
        <div>
          <h2 class="secondary-title">Digital Ocean</h2>
          <p class="py-2">
            Most of my projects use Microsoft Azure for datbases & storage but I've ran into issues with
            various modern JS/TS libraries, authentication & the SDK. I'll be moving my projects to the more
            simple cloud provider Digital Ocean & keeping the majority of hosting on Vercel.
          </p>
        </div>
      </div>
      <p class="text-lg">
        What is a now page? Click <a class="text-secondary" href="https://nownownow.com/about">here</a> to find
        out.
      </p>
    </section>
  </div>
</MainLayout>

<style>
  .icon {
    color: white;
    width: 24px;
    height: 24px;
  }

  .icon-go {
    color: white;
    width: 36px;
    height: 36px;
  }
</style>
