---
import MainLayout from "@layouts/main.astro";
import FaTag from "svelte-icons/fa/FaTag.svelte";
import PageTitle from "@lib/PageTitle.svelte";
const introText = "A now page. An overview of whats going on right now and what the plans are for the year.";
---

<MainLayout title="Now" desc={introText}>
  <div class="container flex mt-20 lg:mt-36 mx-auto px-8 md:px-14 lg:px-24 w-full">
    <section class="w-full">
      <PageTitle title="Now" intro={introText} />
      <ul class="space-y-4 py-5">
        <li class="flex items-center">
          <div class="icon mr-5"><FaTag /></div>
          <p>
            Working at <a href="http://www.lseg.com" class="text-theme/75" target="_blank">LSEG</a> in the digital
            team
          </p>
        </li>
        <li class="flex items-center">
          <div class="icon mr-5"><FaTag /></div>
          <p>Improving my TypeScript & Go skills</p>
        </li>
        <li class="flex items-center">
          <div class="icon mr-5"><FaTag /></div>
          <p>Improving my fitness</p>
        </li>
      </ul>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 py-5 md:py-10">
        <div>
          <h2 class="secondary-title">Go</h2>
          <p class="py-2">
            My main goal in 2024 is to continue learning Go. I've been keen to learn a faster language than JavaScript in order to deal with data more effeciently and Go provides speed & simplicty.
          </p>
        </div>
        <div>
          <h2 class="secondary-title">TypeScript</h2>
          <p class="py-2">
            Currently upgrading all projects to TypeScript. JavaScript is a great starting point but the
            advanced parts of TypeScript have really helped reduce bugs and make web applications easier to
            build.
          </p>
        </div>
        <div>
          <h2 class="secondary-title">Webiliti</h2>
          <p class="py-2">
            After running into various challenges working at LSEG I was inspired to build Webiliti. The web
            management & testing application that is designed to help web managers stay on top of their
            websites.
          </p>
        </div>
      </div>
      <p class="text-lg">
        What is a now page? Click <a class="text-secondary" href="https://nownownow.com/about">here</a> to find
        out.
      </p>
    </section>
  </div>
</MainLayout>

<style>
  .icon {
    color: white;
    width: 24px;
    height: 24px;
  }

  .icon-go {
    color: white;
    width: 36px;
    height: 36px;
  }
</style>
